
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

h1{
	font-family:"Fuzzy Bubbles"
}

h2{
	font-family:"Fuzzy Bubbles";
	font-size:20px;
	width:15%;
}

img{
	border-radius:7px;
	height: 35%;
	float:right;
	border-color: beige;
	border-style:double;
}

p{
	font-size:1.2em;
}

body{
	background-color:lightblue;

}

main{
	background-color:rgba(72,242,227,0.56);
	font-size:25px;
	font-family:"Fuzzy Bubbles";
	border-radius:12px;
	padding:0.5%;
	width:50%;
	float:left;
}

nav li {
	list-style:none;
	display:inline;
	margin: 0%;
	padding:1%;
	
}

nav{
	font-family:"Fuzzy Bubbles";
	font-size: 20px;
	font-weight:bold;
}

nav li a{
	text-decoration:none;
	color:black;
	
}

nav li a:hover{
	font-style:italic;
	color:darkgreen;
	background-color:rgba(71,162,228,0.20);
	border-radius:3px;
	
}

blockquote{
	text-align: center;
	font-family:"Fuzzy Bubbles";
	font-size: 75px;
	font-weight:bold;
	margin:0;
	padding:0;
	color:black;
}

footer p{
	font-family:"Fuzzy Bubbles"; 
}

footer{
	clear:both;
}

#letters{
	font-family:"Fuzzy Bubbles"; 
}

#fName{
	font-size:20px;
	margin:10px 14px;
	width:20%;
	height:30px;
	font-family:"Fuzzy Bubbles";
}

#lName{
	font-size:20px;
	margin:10px 14px;
	width:20%;
	height:30px;
	font-family:"Fuzzy Bubbles";
}

#email{
	font-size:20px;
	margin:10px 14px;
	font-family:"Fuzzy Bubbles";
	width:20%;
	height:30px;
}

label{
	font-size:2em;
	font-family:"Fuzzy Bubbles";
}
#subutton{
	border-radius: 5px;
	width: 11%;
	height: 17%;
	margin:10px 14px;
	background-color:aliceblue;
	font-family:"Fuzzy Bubbles";
}

#resutton{
	border-radius: 5px;
	width: 11%;
	height: 17%;
	background-color:aliceblue;
	font-family:"Fuzzy Bubbles";
}

input{
	font-size:2em;
	color:cornflowerblue;
	font-family:"Fuzzy Bubbles";
}

#news{
	float:right;
	width:30%;
	font-family:"Fuzzy Bubbles";
}

form{
	width:40%;
	padding: 0 10%;
	font-family:"Fuzzy Bubbles";
}


